{% extends 'base.html.twig' %}

{% block page_stylesheets %}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}

{% block title %}
Khemeia | Création d'un conseil de prudence
{% endblock %}

{% block body %}
    <div class="panel box box-warning">
        <div class="box-header with-border">
            <h4 class="box-title">
                Gestion des référentiels
            </h4>
        </div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class=""><a href="{{ path('admin_product') }}">Gestion des fiches produits</a></li>
                <li class=""><a href="{{ path('admin_storage') }}">Gestion des fiches de stock</a></li>
                <li class=""><a href="{{ path('admin_supplier') }}">Gestion des fournisseurs</a></li>
                <li class=""><a href="{{ path('admin_type') }}">Gestion des types de produits</a></li>
                <li class="active"><a data-toggle="tab" href="#" aria-expanded="true">Gestion des conseils de prudence</a></li>
                <li class=""><a href="{{ path('admin_dangersymbol') }}">Gestion des symboles de danger</a></li>
                <li class=""><a href="{{ path('admin_dangernote') }}">Gestion des mentions de danger</a></li>
                <li class=""><a href="{{ path('admin_property') }}">Gestion des propriétaires</a></li>
                <li class=""><a href="{{ path('admin_file') }}">Gestion desfFichiers</a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="box-body">
                        {# Selon que l'on veut créer, modifier ou supprimer un conseil de prudence,
                            on paramètre la méthode qui reçoit le formulaire avec la bonne route
                            ainsi que le bon texte du bouton de soumission du formulaire#}
                        {% if action == 'modify' %} 
                        <form role="form" action="{{ path('admin_cautionaryadvice_modify', {id: id}) }}" method="post" >

                        {% elseif action == 'remove' %}
                        <form role="form" action="{{ path('admin_cautionaryadvice_remove', {id: id}) }}" method="post" >

                        {% else %}
                        <form role="form" action="{{ path('admin_cautionaryadvice')}}" method="post" enctype="multipart/form-data" >
                        {% endif %}

                            <!-- text input -->
                            <div class="form-group">
                                <label>Nom du Conseil de prudence</label><span class="text-red"> *</span>
                                {{ form_widget(form.nameCautionaryadvice, {'attr': {'class': 'form-control',
                                'placeholder': 'Entrez un nom de conseil de prudence'}}) }}
                            </div>

                            <!-- text input -->
                            <div class="form-group">
                                <label>Phrase du Conseil de prudence</label><span class="text-red"> *</span>
                                {{ form_widget(form.sentencecautionaryadvice, {'attr': {'class': 'form-control',
                                'placeholder': 'Entrez un nom de conseil de prudence'}}) }}
                            </div>

                                {{ form_rest(form) }}
                            {% if action == 'create' %}
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-warning">Ajouter</button>
                                </div>
                            {% endif %}

                            {% if action == 'modify' %}
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fa fa-edit"></i>
                                        Modifier
                                    </button>
                                </div>
                            {% endif %}

                            {% if action == 'remove' %}
                                <div class="box-footer">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-default">
                                        <i class="fa fa-trash"></i>
                                        Supprimer
                                    </button>
                                </div>
                            {% endif %}

                            <!-- NON AFFICHÉ - modal - boite de dialogue pour confirmer la suppression -->
                            <div class="modal fade" id="modal-default" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title">Confirmation</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Êtes-vous sûr de vouloir supprimer ce conseil de prudence?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Non</button>
                                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Oui</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                        </form> 
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Liste des conseils de prudence</h3>
                                    </div><!-- /.box-header -->

                                    <div class="box-body">
                                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="example2" data-page-length='10' class="table table-bordered table-hover dataTable">
                                                        <thead>
                                                            <tr role="row">
                                                                <th>Nom</th>
                                                                <th>Phrase du conseil de prudence</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {# S'il y a des conseils de prudence #}
                                                            {% if cautionaryadvices is defined %}
                                                                {% if cautionaryadvices is not null %}
                                                                    {# Pour chaque type de produit dans la liste
                                                                    On boucle pour créer de nouvelles lignes
                                                                    dans le tableau sous le même format#}
                                                                    {% for oneCautionaryadvice in cautionaryadvices %}
                                                                        <tr role="row" class="odd">
                                                                            <td data-title="Nom" class="sorting_1">{{ oneCautionaryadvice.getNameCautionaryadvice() }}</td>
                                                                            <td data-title="Phrase du conseil de prudence" class="sorting_1">{{ oneCautionaryadvice.getSentencecautionaryadvice() }}</td>
                                                                            
                                                                            <td>
                                                                                <a href="{{ path('admin_cautionaryadvice_modify', {id: oneCautionaryadvice.getIdCautionaryadvice()}) }}" class="btn btn-success">
                                                                                    <i class="fa fa-edit"></i> Modifier
                                                                                </a>
                                                                                <a href="{{ path('admin_cautionaryadvice_remove', {id: oneCautionaryadvice.getIdCautionaryadvice()}) }}" class="btn btn-danger">
                                                                                    <i class="fa fa-trash"></i> Supprimer
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div><!-- /.col -->
                                            </div><!-- /.row -->
                                        </div>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.box-body -->
                </div><!-- /.tab-pane -->
            </div><!-- /.tab-content -->
        </div>
    </div>
{% endblock %}

{% block page_javascripts %}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}