{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Datepicker -->
    <link rel="stylesheet" href="{{ asset('assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('assets/bower_components/select2/dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/general_style.css') }}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block title %}
Khemeia | Création d'un symbole de danger
{% endblock %}

{% block body %}
    <div class="panel box box-warning">
        <div class="box-header with-border">
            <h4 class="box-title">
                Gestion des référentiels
            </h4>
        </div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class=""><a href="{{ path('admin_product') }}">Gestion des fiches produits</a></li>
                <li class=""><a href="{{ path('admin_storage') }}">Gestion des fiches de stock</a></li>
                <li class=""><a href="{{ path('admin_supplier') }}">Gestion des fournisseurs</a></li>
                <li class=""><a href="{{ path('admin_type') }}">Gestion des types de produits</a></li>
                <li class=""><a href="{{ path('admin_cautionaryadvice') }}">Gestion des conseils de prudence</a></li>
                <li class="active"><a data-toggle="tab" href="#" aria-expanded="true">Gestion des symboles de danger</a></li>
                <li class=""><a href="{{ path('admin_dangernote') }}">Gestion des mentions de danger</a></li>
                <li class=""><a href="{{ path('admin_property') }}">Gestion des propriétaires</a></li>
                <li class=""><a href="{{ path('admin_file') }}">Gestion des fichiers</a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="box-body">
                        {# Selon que l'on veut créer, modifier ou supprimer un conseil de prudence,
                            on paramètre la méthode qui reçoit le formulaire avec la bonne route
                            ainsi que le bon texte du bouton de soumission du formulaire#}
                        {% if action == 'modify' %} 
                        <form role="form" action="{{ path('admin_dangersymbol_modify', {id: id}) }}" method="post" enctype="multipart/form-data">

                        {% elseif action == 'remove' %}
                        <form role="form" action="{{ path('admin_dangersymbol_remove', {id: id}) }}" method="post" enctype="multipart/form-data">

                        {% else %}
                        <form role="form" action="{{ path('admin_dangersymbol')}}" method="post" enctype="multipart/form-data" >
                        {% endif %}

                            <!-- text input -->
                            <div class="form-group">
                                <label>Nom du symbole de danger</label><span class="text-red"> *</span>
                                {{ form_widget(form.nameDangersymbol, {'attr': {'class': 'form-control',
                                'placeholder': 'Entrez un nom de conseil de prudence'}}) }}
                            </div>

                            <!-- text input -->
                            <div class="form-group">
                                <label>Description du symbole de danger</label><span class="text-red"> *</span>
                                {{ form_widget(form.descriptionDangersymbol, {'attr': {'class': 'form-control',
                                'placeholder': 'Entrez une description'}}) }}
                            </div>

                            <div class="form-group">
                                <label>Icone du symbole de danger </label><span class="text-red"> *</span>
                                {{ form_widget(form.uploadedFile, {'attr': {'class': 'form-control'}}) }}
                            </div>


                                {{ form_rest(form) }}
                            {% if action == 'create' %}
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-warning">Ajouter</button>
                                </div>
                            {% endif %}

                            {% if action == 'modify' %}
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fa fa-edit"></i>
                                        Modifier
                                    </button>
                                </div>
                            {% endif %}

                            {% if action == 'remove' %}
                                <div class="box-footer">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-default">
                                        <i class="fa fa-trash"></i>
                                        Supprimer
                                    </button>
                                </div>
                            {% endif %}

                            <!-- NON AFFICHÉ - modal - boite de dialogue pour confirmer la suppression -->
                            <div class="modal fade" id="modal-default" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title">Confirmation</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Êtes-vous sûr de vouloir supprimer ce symbole de danger?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Non</button>
                                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Oui</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                        </form> 
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Liste des symboles de danger</h3>
                                    </div><!-- /.box-header -->

                                    <div class="box-body">
                                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="example2" data-page-length='10' class="table table-bordered table-hover dataTable">
                                                        <thead>
                                                            <tr role="row">
                                                                <th>Nom</th>
                                                                <th>Description</th>
                                                                <th>Icone</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {# S'il y a des conseils de prudence #}
                                                            {% if dangersymbols is defined %}
                                                                {% if dangersymbols is not null %}
                                                                    {# Pour chaque type de produit dans la liste
                                                                    On boucle pour créer de nouvelles lignes
                                                                    dans le tableau sous le même format#}
                                                                    {% for oneDangersymbol in dangersymbols %}
                                                                        <tr role="row" class="odd">
                                                                            <td data-title="Nom" class="sorting_1">{{ oneDangersymbol.getNameDangersymbol() }}</td>
                                                                            <td data-title="Description" class="sorting_1">{{ oneDangersymbol.getDescriptionDangersymbol() }}</td>
                                                                            <td data-title="Icone" class="sorting_1">
                                                                                <img
                                                                                    src="{{ asset('uploads/icon_symboles_de_danger/' ~ oneDangersymbol.getIcon()) }}" 
                                                                                    alt="{{ oneDangersymbol.getDescriptionDangersymbol() }}"
                                                                                    height="50px"
                                                                                    width="50px">
                                                                            </td>
                                                                            
                                                                            <td>
                                                                                <a href="{{ path('admin_dangersymbol_modify', {id: oneDangersymbol.getIDdangersymbol()}) }}" class="btn btn-success">
                                                                                    <i class="fa fa-edit"></i> Modifier
                                                                                </a>
                                                                                <a href="{{ path('admin_dangersymbol_remove', {id: oneDangersymbol.getIdDangersymbol()}) }}" class="btn btn-danger">
                                                                                    <i class="fa fa-trash"></i> Supprimer
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div><!-- /.col -->
                                            </div><!-- /.row -->
                                        </div>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.box-body -->
                </div><!-- /.tab-pane -->
            </div><!-- /.tab-content -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Select2 -->
    <script src="{{ asset('assets/bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <!-- DataTables -->
    <script src="{{ asset('assets/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <!-- Page script -->
    <script>
        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
            //Initialize #example2 Elements
            $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : true,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false,
            'language': {
            "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"
        }
            })
        });
    </script>
{% endblock %}