{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Datepicker -->
    <link rel="stylesheet" href="{{ asset('assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('assets/bower_components/select2/dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/general_style.css') }}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block title %}
Khemeia | Création d'une fiche de stockage
{% endblock %}

{% block body %}
    <div class="panel box box-warning">
        <div class="box-header with-border">
            <h4 class="box-title">
                Gestion des référentiels
            </h4>
        </div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class=""><a href="{{ path('admin_product') }}">Gestion des fiches produits</a></li>
                <li class="active"><a data-toggle="tab" href="#" aria-expanded="true">Gestion des fiches de stock</a></li>
                <li class=""><a href="{{ path('admin_supplier') }}">Gestion des fournisseurs</a></li>
                <li class=""><a href="{{ path('admin_type') }}">Gestion des types de produits</a></li>
                <li class=""><a href="{{ path('admin_cautionaryadvice') }}">Gestion des conseils de prudence</a></li>
                <li class=""><a href="{{ path('admin_dangersymbol') }}">Gestion des symboles de danger</a></li>
                <li class=""><a href="{{ path('admin_dangernote') }}">Gestion des mentions de danger</a></li>
                <li class=""><a href="{{ path('admin_property') }}">Gestion des propriétaires</a></li>
                <li class=""><a href="{{ path('admin_file') }}">Gestion des fichiers</a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="box-body">
                        {# Selon que l'on veut créer, modifier ou supprimer une fiche produit,
                            on paramètre la méthode qui reçoit le formulaire avec la bonne route
                            ainsi que le bon texte du bouton de soumission du formulaire#}
                        {% if action == 'modify' %} 
                        <form role="form" action="{{ path('admin_storage_modify', {id: id}) }}" method="post" enctype="multipart/form-data">

                        {% elseif action == 'remove' %}
                        <form role="form" action="{{ path('admin_storage_remove', {id: id}) }}" method="post" enctype="multipart/form-data">

                        {% else %}
                        <form role="form" action="{{ path('admin_storage')}}" method="post" enctype="multipart/form-data" >
                        {% endif %}

                            <!-- select -->
                            <div class="form-group">
                                <label>Produit chimique concerné</label><span class="text-red"> *</span>
                                
                                {{ form_widget(form.idChimicalproduct, {'attr': {'class': 'form-control select2 select2-hidden-accessible form-style' ,
                                 'style':"width: 100%;",
                                 'required':'required',
                                 'data-placeholder':"Selectionnez un produit chimique",
                                 'tabindex':"-1"}}) }}
                            </div>

                            <div class="form-group">
                                <label>Emplacement</label><span class="text-red"> *</span>
                                {{ form_widget(form.idShelvingunit, {'attr': {'class': 'form-control select2 select2-hidden-accessible form-style' ,
                                 'style':"width: 100%;",
                                 'required':'required',
                                'data-placeholder':'Selectionez l\'emplacement de ce produit',
                                'tabindex':"-1"}}) }}
                            </div>

                            <!-- text input -->
                            <div class="form-group">
                                <label>Quantité en stock </label> (en g ou ml)
                                {{ form_widget(form.stockquantity, {'attr': {'class': 'form-control',
                                'placeholder': 'Entrez une quantité'}}) }}
                            </div>

                            <div class="form-group">
                                <label>Capacité totale </label> (en g ou ml)
                                {{ form_widget(form.capacity, {'attr': {'class': 'form-control',
                                'placeholder': 'Entrez une capacité'}}) }}
                            </div>

                            <div class="form-group">
                                <label>Pureté</label>
                                {{ form_widget(form.purity, {'attr': {'class': 'form-control',
                                'placeholder': 'Entrez la pureté du produit'}}) }}
                            </div>

                            <div class="form-group">
                                <label>Température de stockage</label> en °C
                                {{ form_widget(form.temperature, {'attr': {'class': 'form-control',
                                'placeholder': 'Entrez la température de stockage du produit'}}) }}
                            </div>

                            <div class="form-group">
                                <label>Numéro de série</label>
                                {{ form_widget(form.serialnumber, {'attr': {'class': 'form-control',
                                'placeholder': 'Entrez un numéro de série'}}) }}
                            </div>

                            <!-- datepicker -->
                            <div class="form-group">
                                <label>{{ form_label(form.opendate) }}</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                    </div>
                                    {{ form_widget(form.opendate, {'attr': {'class': 'form-control pull-right datepicker',
                                    'data-date-language':'fr'}}) }}
                                </div>
                            </div>

                            <!-- datepicker -->
                            <div class="form-group">
                                <label>{{ form_label(form.expirationdate) }}</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                    </div>
                                    {{ form_widget(form.expirationdate, {'attr': {'class': 'form-control pull-right datepicker',
                                    'data-date-language':'fr'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Faut-il archiver ce produit?</label><span class="text-red"> *</span>
                                <div class="radio-style">
                                    {{ form_widget(form.isarchived, {'label_attr': {'class': 'radio-label'}},) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Voulez-vous cacher l'emplacement exact de ce flacon?</label><span class="text-red"> *</span>
                                <div class="radio-style">
                                    {{ form_widget(form.isrisked, {'label_attr': {'class': 'radio-label'}},) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Propriétaire du flacon</label>
                                {{ form_widget(form.idProperty, {'attr': {'class': 'form-control select2 select2-hidden-accessible form-style' ,
                                 'style':"width: 100%;",
                                'data-placeholder':'Selectionez le propriétaire de ce produit',
                                'tabindex':"-1"}}) }}
                            </div>

                            <div class="form-group">
                                <label>Fiche de prudence </label> (fichier PDF)
                                {{ form_widget(form.uploadedSecurityFile, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                <label>Certificat d'analyse </label> (fichier PDF)
                                {{ form_widget(form.uploadedAnalysisFile, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                <label>Fournisseur</label>
                                {{ form_widget(form.idSupplier, {'attr': {'class': 'form-control select2 select2-hidden-accessible form-style' ,
                                 'style':"width: 100%;",
                                'data-placeholder': 'Selectionnez le fournisseur de ce produit',
                                'tabindex':"-1"}}) }}
                            </div>

                            <div class="form-group">
                                <label>Référence du produit chez le fournisseur</label>
                                {{ form_widget(form.reference, {'attr': {'class': 'form-control',
                                'placeholder': 'Entrez la référence fournisseur du produit'}}) }}
                            </div>

                            <div class="form-group">
                                <label>Voulez-vous publier directement ce produit et le rendre consultable ou le placer en analyse?</label><span class="text-red"> *</span>
                                <div class="radio-style">
                                    {{ form_widget(form.ispublished, {'label_attr': {'class': 'radio-label'}},) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Commentaires</label>
                                {{ form_widget(form.commentary, {'attr': {'class': 'form-control',
                                    'placeholder': 'Entrez les informations complémentaires que vous souhaitez'}}) }}
                            </div>
                                
                                {{ form_rest(form) }}
                            {% if action == 'create' %}
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-warning">Ajouter</button>
                                </div>
                            {% endif %}

                            {% if action == 'modify' %}
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fa fa-edit"></i>
                                        Modifier
                                    </button>
                                </div>
                            {% endif %}

                            {% if action == 'remove' %}
                                <div class="box-footer">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-default">
                                        <i class="fa fa-trash"></i>
                                        Supprimer
                                    </button>
                                </div>
                            {% endif %}

                            <!-- NON AFFICHÉ - modal - boite de dialogue pour confirmer la suppression -->
                            <div class="modal fade" id="modal-default" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title">Confirmation</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Êtes-vous sûr de vouloir supprimer cette fiche de stockage?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Non</button>
                                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Oui</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                        </form> 
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Liste des fiches de stockage</h3>
                                    </div><!-- /.box-header -->

                                    <div class="box-body">
                                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="example2" class="table table-bordered table-hover dataTable">
                                                        <thead>
                                                            <tr role="row">
                                                                <th>Identifiant unique</th>
                                                                <th>Nom du produit</th>
                                                                <th>Lieu de stockage</th>
                                                                <th>Numéro de série</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {# S'il y a des fiches de stockage #}
                                                            {% if storagecards is defined %}
                                                                {% if storagecards is not null %}
                                                                    {# Pour chaque fiche de stockage dans la liste
                                                                    On boucle pour créer de nouvelles lignes
                                                                    dans le tableau sous le même format#}
                                                                    {% for oneStoragecard in storagecards %}
                                                                        <tr role="row" class="odd">
                                                                            <td data-title="Identifiant unique" class="sorting_1">{{ oneStoragecard.getIdStoragecard() }}</td>
                                                                            <td data-title="Nom du produit" class="sorting_1">{{ oneStoragecard.getIdChimicalproduct() }}</td>
                                                                            <td data-title="Lieu de stockage" class="sorting_1">{{ oneStoragecard.getIdShelvingunit() }}</td>
                                                                            <td data-title="Numéro de série" class="sorting_1">{{ oneStoragecard.getSerialnumber() }}</td>
                                                                            
                                                                            <td>
                                                                                <a href="{{ path('admin_storage_modify', {id: oneStoragecard.getIdStoragecard()}) }}" class="btn btn-success">
                                                                                    <i class="fa fa-edit"></i> Modifier
                                                                                </a>
                                                                                <a href="{{ path('admin_storage_remove', {id: oneStoragecard.getIdStoragecard()}) }}" class="btn btn-danger">
                                                                                    <i class="fa fa-trash"></i> Supprimer
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div><!-- /.col -->
                                            </div><!-- /.row -->
                                        </div>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.box-body -->
                </div><!-- /.tab-pane -->
            </div><!-- /.tab-content -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- bootstrap datepicker -->
    <script src="{{ asset('assets/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <!-- Language script -->
    <script src="{{ asset('assets/bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js') }}"></script>

    <!-- Code javaScript qui paramètre le widget des dates -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.datepicker').datepicker({
            "format": "dd/mm/yyyy",
            "language": "fr",
            "keyboardNavigation": false,
            "setDate": new Date(),
            "autoclose": true,
            "clearBtn": true,
            "todayHighlight": true
            });
        });
    </script>
    <!-- Select2 -->
    <script src="{{ asset('assets/bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <!-- DataTables -->
    <script src="{{ asset('assets/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <!-- Page script -->
    <script>
        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
            //Initialize #example2 Elements
            $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : true,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false,
            'language': {
            "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"
        }
            })
        });
    </script>
{% endblock %}