<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ asset('assets/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('assets/bower_components/font-awesome/css/font-awesome.min.css') }}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ asset('assets/bower_components/Ionicons/css/ionicons.min.css') }}">
        <!-- Theme style -->
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/dist/css/AdminLTE.min.css') }}">
        <!-- AdminLTE Skins. We have chosen the skin-purple for this starter
                page. However, you can choose any other skin. Make sure you
                apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="{{ asset('assets/dist/css/skins/georessources.css') }}">
        <!-- Google Font -->
        <link rel="stylesheet" href="{{ asset('assets/css/google_style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <!-- Responsive Design -->
        <link rel="stylesheet" href="{{ asset('assets/css/responsive_style.css') }}">

        <title>{% block title %}Khemeia{% endblock %}</title>
        
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {{ include('header.html.twig') }}
            <div class="content-wrapper home_page" style="min-height: 836px;">

                {% for message in app.flashes('error') %}
                    <div class="box-body">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i> Alerte!</h4>
                            <p>{{ message }}</p>
                        </div>
                    </div>
                {% endfor %}

                {% if errors is defined %}
                    {% for error in errors %}
                        <div class="box-body">
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-ban"></i> Alerte!</h4>
                                <p>{{ error.message }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                
                {% for message in app.flashes('success') %}
                    <div class="box-body">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Bravo!</h4>
                            <p>{{ message }}</p>
                        </div>
                    </div>
                {% endfor %}

                {% block body %}{% endblock %}
            </div>
            {{ include('footer.html.twig') }}
            
            <!-- jQuery 3 -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <!-- Bootstrap 3.3.7 -->
            <script src="{{ asset('assets/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <!-- AdminLTE App -->
            <script src="{{ asset('assets/dist/js/adminlte.min.js') }}"></script>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
