{% extends 'base.html.twig' %}

{% block page_stylesheets %}
    {{ encore_entry_link_tags('global') }}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}

{% block title %}
Khemeia | Consultation
{% endblock %}

{% block body %}
<section>
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Historique du produit : {{ storageCard.getIdChimicalproduct().getNameChimicalproduct() }}</h3>
        </div><!-- /.box-header -->

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class=""><a href="{{ path('moved_history', {id: storageCard.getIdStoragecard()}) }}">Historique des déplacements</a></li>
                <li class="active"><a class="" data-toggle="tab" href="#" aria-expanded="true">Historique des utilisations</a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable">
                                        <thead>
                                            <tr role="row">
                                                <th>Utilisé par</th>
                                                <th>en date du</th>
                                                <th>quantité retirée (ml ou g)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {# S'il y a des armoires #}
                                            {% if tracability is defined %}
                                                {% if tracability is not null %}
                                                    {# Pour chaque armoire dans la liste
                                                    On boucle pour créer de nouvelles lignes
                                                    dans le tableau sous le même format#}
                                                    {% for oneTracability in tracability %}
                                                        <tr role="row" class="odd">
                                                            <td data-title="Utilisé par" class="sorting_1">{{ oneTracability.getIdUser().getFullname() }}</td>
                                                            <td data-title="en date du" class="sorting_1">{{ oneTracability.getRetiredate().format('d/m/Y') }}</td>
                                                            <td data-title="quantité retirée (ml ou g)" class="sorting_1">{{ oneTracability.getRetirequantity() }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.tab-pane -->
            </div><!-- /.tab-content -->
        </div>
    </div>

    <div class="row no-print">
        <div class="col-xs-12">
            <button type="button" id="btnPrint" class="btn btn-success pull-right">
                <i class="fa fa-print"></i> Imprimer
            </button>
        </div>
    </div>
</section>
{% endblock %}

{% block page_javascripts %}
    {{ encore_entry_script_tags('datatable') }}
    {{ encore_entry_script_tags('printBtn') }}
{% endblock %}